@font-face{
    font-family: myFont;
    src:url(fonts/ProRacingSlant-w1Mo9.otf);
}

@font-face {
    font-family: myFont02;
    src: url(fonts/RacingFonerPersonalUseOnly-Regular.otf);
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #303030;
    background-color: red;
}

h2 {
    color: red;
}


.headContainer {
    display: flex;
    align-items: center;
    background-color: #252525;
    height: 6rem;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.logoHead {
    position: relative;
    font-family: myFont;
    /*font-size: 5rem;*/
    font-size: clamp(1.8rem, 10vw, 5rem);
    color:white;
    margin-left: min(1.5rem, 2%);
    margin-top: 1rem;

}

.logoHead span {
    color: red;
}

.headContainer ul {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
    margin-left: 5rem;
    font-size: 1.5rem;
    color: red;
    width: 120%;
    font
}

li {
    list-style-image: url(icons/fire.png);

}

.headContainer a {
    text-decoration: none;
    color: white;
    font-family: myFont02;
    margin-left: 1rem;

}

.carrosGrid {
    background-color: blue;
    height: 38vh;
    display: flex;
    justify-content: space-around;

}

.carroCard {
    margin-top: 0.3%;
    background-color: red;
    width: 40rem;
    height: 30rem;
}

.container {
    position: fixed;
    display: flex;
    bottom: 0;
    color: white;
    align-items: baseline;
    margin-left: 46%;
}

.carousel {
    margin-top: 20px;
    width: 100%;
}

.carousel img{
    height: 70vh;
}