@font-face{
    font-family: myFont;
    src:url(fonts/ProRacingSlant-w1Mo9.otf);
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #303030;
    background-color: red;
}

h2 {
    color: red;
}


.headContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #252525;
    height: 6rem;
    padding: 0px;
    margin: 0px;
}

.logoHead {
    display: flex;
    font-family: myFont;
    font-size: 5rem;
    color:white;
    margin-left: 1.5rem;
    margin-top: 1rem;

}

.logoHead span {
    color: red;
}

.headContainer ul {
    justify-content: space-around;
    width: 30rem;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    display:flex;
    color: red;
}


.headContainer a {
    text-decoration: none;

}

.carrosGrid {
    background-color: blue;
    height: 38vh;
    display: flex;
    justify-content: space-around;

}

.carroCard {
    margin-top: 0.3%;
    background-color: red;
    width: 40rem;
    height: 30rem;
}

.container {
    position: fixed;
    display: flex;
    bottom: 0;
    color: white;
    align-items: baseline;
    margin-left: 46%;
}

.carousel {
    margin-top: 20px;
}